<a class="btn btn-dark" style="border:0.2px solid white" asp-controller="Admin" asp-action="Index" type="button"><i class ="fa fa-home fa-2x" ></i></a>
<a class="btn btn-dark" style="border:0.2px solid white" asp-controller="Home" asp-action="Index" type="button"><i class ="fa fa-sign-out fa-2x" ></i></a>
