<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

@model List<Bsef19a041_Project.Models.Products>
@{
     string  imageData="";
}
<style>
    #c1{
            background-color: orangered;
         margin-left:15px;
         margin-top:15px;    
         
        }
</style>

  @foreach (Bsef19a041_Project.Models.Products p in Model)
{
    imageData = p.Path + p.ImageName;
    <div class="card" id="c1" style="display:inline-block; justify-content:space-around; width: 18rem;" class="gridShortlist active" onclick="shortlist(this, 1);">
        <img src= "~/css/@p.ImageName"  class="card-img-top" >
        @*<img src="/css/JalpenoWrap.png"*@
        @*@Url.Content("/css/"@p.ImageName*@
  <div class="card-body">
    <h5 class="card-title">@p.ImageName.Remove(p.ImageName.Length-4,4)</h5>
     <a type="button" class="btn btn-dark" asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@p.Id" >Add To Cart </a>
    </div>
   </div>
}
   <script>
function shortlist(_this, intValue){
    if (intValue == 1){
        var src = $(_this).find('img').attr('src');
        console.log(src);
        console.log(ImageData);

    }
    else if (intValue == 0){
        alert("deactive");
    }
}
</script>
