@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section Options{
    <partial name="_addToCartPartialView" />
    @*<partial name="_searchPartialView.cshtml"/>*@

}
<style>
     #line{
        border-top:2px solid white;
        background-color:orangered;
        margin-left:35px;
        margin-right:35px;
    }
    body{
        background-color:black;
        text-align:center;
    }
</style>
    <div>
    <p class="h1" style="color:white">Rice and Spice</p>

        <hr style='display:inline-block;'id="Line" />
    </div>
    <vc:rn-s></vc:rn-s>