@model Bsef19a041_Project.Models.User
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
        body{
            text-align: center;
            font-family: 'Open Sans';
            background-color: rgb(104, 104, 104);
            
        }
        h1{
            color:orangered;
        }
    </style>
<body>
    <h1>
        Hello,  Welcome to Our App
    </h1>
</body>


Click <a asp-action="" > here </a>to see our other recent users