@*
<script>
    alert('Item Added To Cart')
</script>*@


<div>
    @Model 
    <br />
    @*Click <a type="button" asp-action="Welcome" asp-controller="Register" style="margin-bottom:50px;"> here </a>to redirect to home page*@
</div>