@model List<Bsef19a041_Project.Models.Products>
<style>
    #c1{
            background-color: orangered;
         margin-left:15px;
         margin-top:15px;    
         
        }
</style>
  @foreach (Bsef19a041_Project.Models.Products p in Model)
        {           
         <div class="card" id="c1" style="display:inline-block; justify-content:space-around; width: 18rem;">
  <img src="~/css/rns.png" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">@p.ImageName</h5>
    <a href="#" class="btn btn-dark"id="b_@p.Id" >Add To Cart </a>
    </div>
    </div>
        }